body{
    margin: 0;
    padding: 0;
    font-family: 0;
    background-color: rgb(2, 2, 35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}
.container{
    border: 2px solid #09d4e3;
    padding: 6vh;
    height: 55vh;
    width: 23vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.title{
    color: #29dceb;
    font-size: 35px;
}

form.userdata {
    width: 21vw;
}  


#username {
    width: 87%;
    height: 100%;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #e7f2f9;
    outline: none;
    border: none;
    border-bottom: 1px solid #25cbe7;
}
#username::placeholder{
    color: rgb(120, 117, 117);
}

#password {
    width: 89%;
    height: 30px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #e7f2f9;
    outline: none;
    border: none;
    border-bottom: 1px solid #25cbe7;
}

#password::placeholder{
    color: rgb(120, 117, 117);
}

button.submit {
    width: 14.7vw;
    height: 6vh;
    margin: 5vh 0;
    background-color: rgb(2, 2, 35);
    border: none;
    color: #29dceb;
    border-radius: 12px;
}

#toggleForm {
    font-size: 14px;
}


.user{
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.userPasssword{
    display: flex;
    align-items: center;
    margin-bottom: 100%; 

}
i.bx.bx-user {
    color: #38c5e9;
    font-size: 20px;
    margin-top: -30%;
    margin-bottom: -30%;
}

i.bx.bx-lock-alt {
    color: #38c5e9;
    font-size: 20px;
    margin-top: -12px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 5pz;
    width: 100%;
    margin-bottom: -10%;
    margin-right: 1800pz;
    margin-left: -2%;
}

